/* @import url('https://fonts.googleapis.com/css?family=Open+Sans:300|Open:100|Inconsolata:400'); */

@font-face {
    font-family: "Open Sans";
    src: url('open_sans.woff2');
}

@font-face {
    font-family: "Inconsolata";
    src: url('./inconsolata.ttf');
}

html, body {
	height: 100%;
	margin: 0;
}

body {
	/* background: url(night_blur.jpg) no-repeat center center fixed; */
	background: black no-repeat center center fixed;
	background-size: cover;
	color: white;
	font-family: 'Open Sans', sans-serif;
	transition: background-image 0.4s;
}

h1 {
	font-weight: lighter;
	font-size: 40px;
	margin-bottom: 0;
}

.warning-message
{
	font-weight: lighter;
	margin-top: -20px;
	color: #FF0000;
}

a {
	color: #dddddd;
	text-decoration: none;
}

a:hover {
	color: #ffffff;
}

.time {
	display: inline-block;
	font-size: 100px;
}

.until {
	margin-top: 24px;
	display: inline-block;
	font-size: 30px;
}

.timeleft, .remaining {
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}

.timeleft {
	text-align: right;
	padding-right: 8px;
	border-right: 1px solid #dddddd;
}

.remaining {
	text-align: left;
}

.hour::after {
	content:"h";
	color: #aaaaaa;
}
.minute::after {
	content:"m";
	color: #aaaaaa;
}
.second::after {
	content:"s";
	color: #aaaaaa;
}

.big-hour::after {
	content:":";
	color: #ffffff;
}
.big-minute::after {
	content:":";
	color: #ffffff;
}
.big-second::after {
	content:"";
	color: #ffffff;
}

.time > span {
	display: inline-block;
}

.time-container>h1>.day {
	color: #eeee33;
}

.time-container>h1>.night {
	color: #000077;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	height: 100%;
	margin-bottom: 0;
}

.time-container {
	text-align: center;
	margin-top: 60px;
}

.until-container {
	max-height: 0;
	text-align: center;
	transition: opacity 0.2s, height 0.2s;
}

.description-container {
	text-align: center;
	font-family: "Inconsolata", monospace;
	color: #aaaaaa;
	margin-top: auto;
	margin-bottom: 30px;
}

.about {
	position: absolute;
	border-radius: 5px;
	padding: 5px;
	text-align: center;
	left: 0%;
	bottom: 0%;
}

.sidebar {
	position: absolute;
	right: 0;
	padding: 0 10px;
	text-align: right;
	width: 30%;
	height: 100%;
}

.timeline {
	position: absolute;
	width: 1px;
	background-color: white;
	margin: 10px;
	top: 0;
	bottom: 0;
	right: 10px;
}
.slider {
	position: absolute;
	right: 2px;
	top: 5%;
	margin-top: 6px;
	width: 9px;
	height: 10px;
	border-radius: 0 3px 3px 0;
	background-color: transparent;
}
.slider::before {
	content:"";
	position: absolute;
	right: 100%;
	top: 0px;
	width: 0px;
	height: 0px;
	border-top: 5px solid transparent;
	border-right: 10px solid white;
	border-bottom: 5px solid transparent;
}

.day-start,
.night-start,
.eidolons {
	position: absolute;
	right: 30px;
	background-color: transparent;
}

.day-start { top: 5%; }
.night-start { top: 65%; }
.eidolons { top: 75%; display: none;}


@media (min-width:320px)  {
	/* smartphones, iPhone, portrait 480x320 phones */
	h1 {
		font-size: 70px;
	}
	.time {
		font-size: 150px;
	}
	.until-container {
		display: none;
	}
}
@media (min-width:481px)  {
	/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
	h1 {
		font-size: 60px;
	}
	.time {
		font-size: 110px;
	}
}
@media (min-width:641px)  {
	/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}
@media (min-width:961px)  {
	/* tablet, landscape iPad, lo-res laptops ands desktops */
	h1 {
		font-size: 40px;
	}
	.time {
		font-size: 120px;
	}
	.until-container {
		display: block;
	}
}
@media (min-width:1025px) {
	/* big landscape tablets, laptops, and desktops */
}
@media (min-width:1281px) {
	/* hi-res laptops and desktops */
}

/* shamelessly taken from w3schools */

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

.switch input {display:none;}

.knob {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(200, 200, 200, 0.4);
  -webkit-transition: .4s;
  transition: .4s;
}

.knob:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .knob {
  background-color: rgba(250, 250, 250, 0.4);
}

input:focus + .knob {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .knob:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

.knob.round {
  border-radius: 34px;
}

.knob.round:before {
  border-radius: 50%;
}

.option {
	text-align: left;
	vertical-align: top;
	height: 30px;
}

.option-text {
	margin-left: 10px;
}

.option-switch {
	float: left;
}

