/* @import url('https://fonts.googleapis.com/css?family=Open+Sans:300|Open:100|Inconsolata:400'); */

@font-face {
    font-family: "Open Sans";
    src: url('../fonts/open_sans.woff2');
}

@font-face {
    font-family: "Inconsolata";
    src: url('../fonts/inconsolata.ttf');
}

a {
    color: #dddddd;
    text-decoration: none;
}

a:hover {
    color: #ffffff;
}

body, html, #root {
    height: 100%;
    padding: 0px;
    margin: 0px;
    color: white;
}

.container {
    transition: background-image 0.4s;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.clock, .nights-container {
    padding: 15px;
    border-radius: 10px;
    display: block;
    width: 500px;
    position: absolute;
    left: 50%;
    margin-left: -250px;
}

.clock-header {
    font-size: 40px;
}

.clock {
    top: 10%;
    font-family: "Open Sans";
    font-size: 120px;
    text-align: center;
}

.nights-container {
    bottom: 20%;
    width: 300px;
    margin-left: -150px;
}

.nights {
    padding-right: 10px;
}

.nights-header {
    font-family: "Open Sans";
    font-size: 30px;
    text-align: center;
    border-bottom: 1px solid #dddddd;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.night-time {
    font-family: "Inconsolata";
    text-align: center;
    margin-bottom: 1px;
}

.about {
    text-align: center;
    font-family: "Inconsolata", monospace;
    color: #aaaaaa;
    margin-top: auto;
    margin-bottom: 30px;
    position: absolute;
    bottom: 0;
    width: 300px;
    left: 50%;
    margin-left: -150px;
}

@media only screen and (max-width: 600px) {
    .container {
        background-position-x: -600px;
    }
    .clock-header {
        font-size: 30px;
    }

    .nights-header {
        border-bottom: none;
    }

    .nights {
        padding-right: 0;
    }

    .clock, .nights-container {
        position: initial;
        width: 100%;
        margin: 0;
        margin-bottom: 10px;
        box-sizing: border-box;
    }

    .clock {
        font-size: 70px;
        margin-top: 50px;
    }

    .nights-container {
        margin-top: 50px;
    }
}